.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
_bookdown_files
_book
packages.bib
.quarto
_site
.Rapp
.Rapp.history
/.quarto/
data/ang1-dpp_Lat.A.Ang1_Lat.A.PBS-STK.csv
data/ang1_Lat.A.Ang1_Lat.A.PBS_STK_creedenzymatic.csv
site_libs/
pathways_files/
*.Rdata
*.html
